* {
    box-sizing: border-box;
}

.gradient {    
    background: linear-gradient(
    120deg,#d3d9db,#7ccbd1);
    color: #fff;
}

.text-white {
    color: rgb(5, 5, 5)!important;
}

.portfolio-navbar .navbar-nav .nav-link {
    font-weight: 700;
    padding: 2rem .1rem;
    font-size: 20px;
}

.portfolio-navbar .logo {
    font-size: 2.0rem;
    margin-left: 5px;
} 

.h1, h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #f5f6f8;
}


.btn-outline-dark {
    color: #46484b;
    border-color: #050505;
}

.btn {
    display: inline-block;
    font-weight: bolder;
    color: #eff1f3;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 1rem 4rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-font-size
{
    font-size: 15px;
}

/* .back-filter
{
    filter: brightness(50%);
} */